* { box-sizing: border-box; }
.autocomplete {
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #171717;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #373737;
  width: 100%;
  color: #e3c2b3; 
}
input[type=submit] {
  background-color: #373737;
  color: #e3c2b3;
}
input[type=submit]:hover {
  background-color: #474747;
  color: #e3c2b3;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  font: 16px Arial; 
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #373737; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #e3c2b3; 
}
